body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    display: grid;
    gap: 15px;
}

h1 {
    text-align: center;
    color: #333;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button, .botao {
    display: inline-block;
    padding: 8px 16px;
    margin: 8px 4px;
    font-size: 14px;
    background-color: #ffffff;
    color: #040404;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

button:hover, .botao:hover {
    background-color: #ad2424;
    color: #000;
    border-color: #aaa;
}
.copiar {
    background-color: #e0e0e0;
    border: none;
    padding: 5px 8px;
    margin-left: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.copiar:hover {
    background-color: #d0d0d0;
}


.erro {
    color: red;
    font-weight: bold;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
