<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Gestor de Senhas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <button class="dark-mode-toggle" onclick="toggleDarkMode()">🌙</button>
    <div class="container">
        <h1>🔐 Bem-vindo ao Gestor de Senhas</h1>
        <a class="botao" href="{{ url_for('login') }}">Fazer Login</a>
        <a class="botao" href="{{ url_for('cadastro') }}">Criar Conta</a>
    </div>

    <script>
        function toggleDarkMode() {
            document.body.classList.toggle("dark");
        }
    </script>
</body>
</html>
